bin/*
!bin/configs/
!bin/*.sh
!bin/*.sh
!bin/*.py
!bin/*.json
!bin/scripts/
bin/scripts/*
!bin/scripts/*.template
!bin/scripts/*.sh
!bin/scripts/*.py
bin/scripts/variables.sh
tla/*
!tla/wpaxos.tla
!tla/wpaxos.cfg
aws
ppaxos
cosmos
.idea
.DS_Store